<div id="alert-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger"><i class="fa-solid fa-triangle-exclamation"></i> High Water Alert</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="alert alert-light" data-alert="flood_veno3" hidden="" aria-hidden="true">
          Nehalem River at Clear Creek is at or above flood stage.
          <hr>
          <a class="alert-link" href="#">View VENO3 Hydrograph</a>
        </div>

        <div class="alert alert-light" data-alert="action_veno3" hidden="" aria-hidden="true">
          Nehalem River at Clear Creek is at action stage.
          <hr>
          <a class="alert-link" href="#">View VENO3 Hydrograph</a>
        </div>

        <div class="alert alert-light" data-alert="flood_rcbo3" hidden="" aria-hidden="true">
          Rock Creek at Vernonia is at or above flood stage.
          <hr>
          <a class="alert-link" href="#">View RCBO3 Hydrograph</a>
        </div>

        <div class="alert alert-light" data-alert="action_rcbo3" hidden="" aria-hidden="true">
          Rock Creek at Vernonia is at action stage.
          <hr>
          <a class="alert-link" href="#">View RCBO3 Hydrograph</a>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
