<footer class="my-5">
  <div class="container d-flex flex-wrap justify-content-between py-3 border-top">
    <div class="col-md-4 d-flex flex-column justify-content-start">
      <a href="/about/">About</a>
      <a href="/contact-us/">Contact Us</a>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a href="#">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </li>
      <li class="ms-3">
        <a href="#">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </li>
      <li class="ms-3">
        <a href="#">
          <i class="fa-brands fa-github"></i>
        </a>
      </li>
      <li class="ms-3">
        <a href="/feed.xml">
          <i class="fa-solid fa-rss"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="container my-4">
    <div class="text-center">
      <div class="mb-1 text-muted">© 2022 Upper Nehalem Flood</div>
      <div class="text-muted">Made with <i class="fa-solid fa-heart"></i> and <i class="fa-solid fa-mug-saucer"></i>
        in Vernonia, Oregon</div>
    </div>
  </div>
</footer>
