<head>
  <meta charset="utf-8">
  <!-- seo tags including native title and description -->
  {%- seo -%}
  <!-- site theme and styles -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
  <link rel="stylesheet" href="https://bootswatch.com/5/cosmo/bootstrap.min.css">
  {%- if page.arcgis == true -%}
  <link rel="stylesheet" href="https://js.arcgis.com/4.23/esri/themes/light/main.css">
  {%- endif -%}
  <link rel="stylesheet" href="/css/main.css">
  {%- if page.url == '/' -%}
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {%- endif -%}
</head>
