---
# uncomment for production
# layout: compress
---
<!DOCTYPE html>
<html lang="en">

<!-- head -->
{%- include head.html -%}

<body>
  <!-- header -->
  {%- include header.html -%}

  <!-- banner image/title -->
  {%- if page.banner != false -%}
  {%- include banner.html -%}
  {%- endif -%}

  <!-- content -->
  {{ content }}

  <!-- footer -->
  {%- if page.footer != false -%}
  {%- include footer.html -%}
  {%- endif -%}

  <!-- alert modal -->
  {%- if page.alert_modal != false -%}
  {%- include alert-modal.html -%}
  {%- endif -%}

  <!-- scripts -->
  {%- include scripts.html -%}
</body>

</html>
